# Virtual environment, images, env variables, aws
bin/
include/
lib/
lib64/
static/articles/
static/images/
staticfiles/
.env
aws/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class