asgiref
beautifulsoup4
bleach
boto3
botocore
dj-database-url
Django
django-bootstrap-v5
django-dotenv
django-on-heroku
django-recaptcha
django-ses
django-storages
django-taggit
gunicorn
jmespath
Markdown
packaging
pillow
psycopg2-binary
pycountry
python-dateutil
pytz
s3transfer
shortuuid
six
soupsieve
sqlparse
tinycss2
typing_extensions
Unidecode
urllib3
webencodings
whitenoise
