<h3> 
    About <span class="site-name">Fredd</span>ucation
</h3>
<hr>
<p>
    Initially I made Fredducation because I wanted to build web 
    development and programming skills. I thought a programming project 
    closely related to one of my interests, learning Spanish, wouldn't 
    feel like a chore and might even be fun. I really enjoyed building 
    it and still have fun working on it on my spare time but the site's 
    purpose in my life has changed. Now I use it to 
    reflect on how I learned more about something that is close to my heart 
    and to show gratitude for these moments in my life. When I first 
    brought the site to life I thought <em>"now I have to write articles all the time"</em>, 
    as if it was a bother to commit to something like this, but those 
    thoughts went away. I realized how good writing an article made me 
    feel. When I look at photos and piece together their story for a 
    post, I feel a deep appreciation for life. Today, that's why I'm writing articles on Fredducation. 
    I hope that other people read what I post 
    and feel good too. The posts focus on the people, places, media, and 
    resources that have taught me something, with an underlying theme of 
    travel. I post when it feels right, not on a fixed schedule. I try not
    to take things too seriously.  
</p>