<h3>About Me</h3>
<hr>
<p>
    I'm Freddy Drew, creator of Fredducation. I'm just a normal guy 
    that enjoys riding his bike, traveling, catching a baseball game, 
    and absolutely butchering his second language. Growing up I didn't 
    appreciate language learning or education in general but sometime 
    recently that changed. Now I'm learning, I'm loving it, and I'm grateful 
    for the opportunities to do so. That's 
    me in the photo below. On the day that photo was taken I learned 
    that staying hydrated on a hike is important. 
</p>