<!-- Load static files -->
{% load static %}

<h3>
    What's in a Logo?
</h3>
<img src="{% static 'images/NavbarLogo.png' %}" width="35" height="35" alt="logo"
class="mb-1">
</div>
<hr>
<p>
I didn't think of making a logo for the site until the project was well under way.
I'm not quite sure how it came to me but I thought something along the lines of
"langauge learning is a lot like explicit functions in algebra". So we take some function, 
<strong><em>f</em></strong>, with input <strong><em>x</em></strong>, and outcome 
<strong><em>y</em></strong>, represented all together as 
<strong><em>f(x) = y</em></strong> and we're ready to do our homework. With respect to 
langauge learning and myself, I (Freddy) am the function, the input (independent variable)
is the language, and the outcome (dependent variable) is my ability to comprehend that langauge.
So we arrive at the logo, <strong><em>f(ñ)</em></strong>, which is seen above this section and 
on the top left corner of the site's navbar. The <strong>ñ</strong> seemed like a perfect fit to represent Spanish.
Maybe in the future I'll target another language and plug in a character from that writing system.
As for how to represent the output of that function in the logo? I have no idea. Let's say the output
is the site and my poor grammar in real life. 

</p>