<h3>
    Why is it called <span class="site-name">Fredd</span>ucation?
</h3>
<hr>
<p>
    I wanted to convey that the posts on this site are related to my learning experience,   
    i.e., <em>Freddy's education</em>. When I considered my website's name, that didn't 
    role off the tongue very well, so the play on the two words was born. Originally 
    it was going to be Freducation with only <strong>one d</strong>, but someone 
    already owned most of the top-level domains for that name. I've always been more 
    of a Freddy than a Fred anyways, so Fredducation it was.
</p>