<!-- Load static files -->
{% load static %}

<link rel="stylesheet" href="{% static 'css/stylesSubscribeBox.css' %}">

<div class="container justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-m-8 col-lg-8">
            <h3 >
                Get the Monthly Newsletter!
            </h3>
            <p>
                Catch up on the past month.
            </p>
            <hr>
            <div id="box" class="card">
                <div id="box-body" class="card-body">
                    <form method="POST">
                        <!-- need this token every time in django for POST-->
                        {%csrf_token%}

                        {%for field in form%}
                            <div>
                                {%if field.errors%}
                                    <input id="{{field.id_for_label}}" name="{{field.name}}" 
                                    type="text" class="form-control is-invalid"
                                    placeholder="{{field.label}}">
                                    <div class="invalid-feedback text-white">
                                        {{ field.errors }}
                                    </div>
                            {%else%}
                                    <input id="{{field.id_for_label}}" name="{{field.name}}" 
                                    type="text" class="form-control"
                                    placeholder="{{field.label}}">
                            {%endif%}
                            </div>
                        {%endfor%}

                        {%if robotForm.recaptcha.errors%}
                            {{robotForm.recaptcha}}
                            <div align="center" class="mt-4">
                                <small>
                                    <strong class="text-white">
                                        Are you a robot!?  
                                    </strong>
                                    reCAPTCHA has decided you are. Wait and try agian.
                                </small>
                            </div>
                        {%else%}
                            {{robotForm.recaptcha}}
                        {%endif%}
                        <button type="submit" class="btn btn-outline-dark btn-lg">
                            SUBSCRIBE
                        </button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
