.navbar{
    border-bottom: 2px solid mediumpurple;
}

.site-name {
    color: mediumpurple;
}

body{
    justify-self: flex-start;
    flex-grow: 3;
}

/* Footer Styles */
footer{
    justify-self: self-end;
    border-top: 2px solid mediumpurple;
    margin-top: 10%;
}

.footer-links {
    padding-left: 2.5%;
    padding-right: 2.5%;
    list-style-type: none;
    margin-top: 2%;
}

.footer-links a {
    text-decoration: none;
}