.container {
    margin-top: 2%;
}

.container-lg{
    margin-top: 2%;
}

/* .carousel-inner img{
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    height: 50vh;
    max-width: 100%;
    overflow: hidden;
} */

.col-12 img{
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    height: 35vh;
    max-width: 100%;
    overflow: hidden;
}

.col-lg-10 img{
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    height: 60vh;
    max-width: 100%;
    overflow: hidden;
}

.one-image img{
    border-radius: 5px;
    width: 100%;
}

/* Article Title Formatting */
.articleTitle {
    text-align: center;
}

/* Article Content Formatting */
a{
    text-decoration: none;
}

