.container{
    margin-top: 2%;
}

.container a{
    text-decoration: none;
}

.card{
    transition: all 0.2s ease;
}

.card:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.025);
}

.card-title{
    text-align: center;
    margin-top: 5%;
    flex-grow: 3;
}

.card-subtitle{
    text-align: center;
    flex-grow: 0;
}

.card-footer {
    flex-grow: 0;
    text-align: center;
    margin-top: 5%;
    font-size: small;
    color: darkgray;
}