{%extends "base.html"%}
{%block content%}

<!-- Load static files -->
{% load static %}

<link rel="stylesheet" href="{% static 'css/stylesAbout.css' %}">

<!-- What is Freducation? -->
<section id="about-fredducation">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                {% include 'partials/aboutFredducation.html' %}
            </div>
        </div>
    </div>
</section>

<section id="about-me">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                {% include 'partials/aboutMe.html' %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-lg-6">
                <img src="{% static 'images/aboutMe-min.jpg' %}" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="why-fredducation">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                {% include 'partials/whyFredducation.html' %}
            </div>
        </div>
    </div>
</section>

<section id="whats-in-a-logo">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                <div class="d-flex align-items-end justify-content-between">
                    {% include 'partials/whatsInALogo.html' %}
            </div>
        </div>
    </div>
</section>

{%endblock content%}
