{%extends "base.html"%}
{%block content%}

<!-- Load Static -->
{% load static %}

<link rel="stylesheet" href="{% static 'css/stylesContact.css' %}">

<div class="container col-6">
    <form method="POST">
        <!-- need this token every time in django for POST-->
        {%csrf_token%}

        <div class="mb-3">
            <label for="fullName" class="form-label">
                Name 
            </label>
            <input id="fullName" class="form-control" 
            type="text" name="fullName" placeholder="Example: Derf Werd">
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">
                Email address
            </label>
            <input id="email" class="form-control" 
            type="text" name="email" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="subject" class="form-label">
                Subject
            </label>
            <input id="subject" class="form-control" 
            type="text" name="subject" placeholder="Example: I found a typo...">
        </div>

        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
        <button type="submit" class="btn btn-primary btn-lg">
            Send Message
        </button> 
    </form>
</div>
{%endblock content%}
