{%extends "base.html"%}
{%block content%}

<!-- Load Static -->
{% load static %}

<!-- Load CSS -->
<link rel="stylesheet" href="{% static 'css/stylesHome.css' %}">

<div class="container" id="welcomeMsg">
    <h4>Welcome to 
        <span style="color: mediumpurple;">Fredd</span>ucation!</h4>
    <h6>
        Here I share the people, places, media, food, and resources that I've come to know through learning spanish.
    </h6>
    <p>
        Read more about Fredducation <a href="/about/" style="text-decoration: none;">here.</a> 
    </p>
</div>


<div class="container-lg">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-m-6 col-lg-6">
            <h3>Recent Posts</h3>
            <hr>
            <!-- Carousel wrapper -->
            <div id="homeCarousel" class="carousel carousel-fade carousel-dark slide" data-bs-ride="carousel">
                
                <!-- Inner -->
                <div class="carousel-inner">
                    {%for obj in sliderObjList%}
                        {%if forloop.counter0 == 0%}
                            <!-- Active item -->
                            <div class="carousel-item active" data-bs-interval="10000">
                                <a href="{{obj.getAbsoluteUrl}}" style="text-decoration: none;">
                                    <img src="{{obj.thumbnail.url}}" class="mx-auto d-block" alt=""/>
                                    <div class="carousel-caption">
                                    <h3>{{obj.title}}</h3>
                                    {%if obj.postType == 'person' or obj.postType == 'place'%}
                                        <p>{{obj.city}}, {{obj.country}}</p>
                                    {%else%}
                                        <p>{{obj.description}}</p>
                                    {%endif%}
                                    </div>
                                </a>
                            </div>

                        {%else%}
                            <!-- Item -->
                            <div class="carousel-item" data-bs-interval="10000">
                                <a href="{{obj.getAbsoluteUrl}}" style="text-decoration: none;">
                                    <img src="{{obj.thumbnail.url}}" class="mx-auto d-block" alt=""/>
                                    <div class="carousel-caption">
                                    <h3>{{obj.title}}</h3>
                                    {%if obj.postType == 'person' or obj.postType == 'place'%}
                                        <p>{{obj.city}}, {{obj.country}}</p>
                                    {%else%}
                                        <p>{{obj.description}}</p>
                                    {%endif%}
                                    </div>
                                </a>
                            </div>
                        {%endif%}
                    {%endfor%}      
                </div>
                <!-- Inner -->
            
                <!-- Left, right arrows for carousel control -->
                <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
            </div>
            <!-- Carousel wrapper -->
        </div>
    </div>
</div>


<!-- PINNED POSTS -->
<div class="container-lg">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-between align-items-baseline">
                <h3>Pinned Posts</h3>
            </div>
            <hr>
            {%for obj in pinnedObjList%}
            <a href="{{obj.getAbsoluteUrl}}" style="text-decoration: none; color: inherit;">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-3">
                        <img src="{{obj.thumbnail.url}}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{obj.title}}
                            </h5>
                            {%if obj.postType == 'person' or obj.postType == 'place'%}
                                <p>{{obj.city}}, {{obj.country}}</p>
                            {%else%}
                                <p>{{obj.description}}</p>
                            {%endif%}
                            <p class="card-text text-truncate">
                                {{obj.content}}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Published {{obj.publishDate}}
                                </small>
                            </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </a>
            {%endfor%}
        </div>
    </div>
</div>
<!-- PINNED POSTS -->

{%endblock content%}

