{%extends "base.html"%}
{%block content%}

<!-- Load Static -->
{% load static %}

<!-- Load CSS -->
<link rel="stylesheet" href="{% static 'css/stylesSubscribe.css' %}">

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-8">
            <h3 >
                Get to the Monthy Newsletter! 
            </h3>
            <hr>
            <p>
                At the end of every month, I send out a summary of everything 
                I posted in the last month. It's short and sweet. If you decide 
                you don't want it anymore, you may unsubscribe at anytime  
                <a href="/unsubscribe/" style="text-decoration: none;">here.</a>
            </p>    

            <form method="POST">
                <!-- need this token every time in django for POST-->
                {%csrf_token%}

                {%for field in form%}
                    <div>
                        <label for="{{field.id_for_label}}">
                            {{field.label}}:
                        </label>
                        {%if field.errors%}
                            <input id="{{field.id_for_label}}" name="{{field.name}}" 
                            type="text" class="form-control is-invalid"
                            placeholder="{{field.help_text}}">
                            <div class="invalid-feedback">
                                {{ field.errors }}
                            </div>
                        {%else%}
                                <input id="{{field.id_for_label}}" name="{{field.name}}" 
                                type="text" class="form-control"
                                placeholder="{{field.help_text}}">
                        {%endif%}
                    </div>
                {%endfor%}

                {%if robotForm.recaptcha.errors%}
                    <div align="center" class="mt-4">
                        <small>
                            <strong class="text-danger">
                                Are you a robot!?  
                            </strong>
                            reCAPTCHA has decided you are. Wait and try agian.
                        </small>
                    </div>
                    {{robotForm.recaptcha}}
                {%else%}
                        {{robotForm.recaptcha}}
                {%endif%}

                <button type="submit" class="btn btn-outline-dark btn-lg">
                    SUBSCRIBE
                </button> 
            </form>
        </div>
    </div>
</div>

{%endblock content%}
