{%extends "base.html"%}
{%block content%}

<!-- Load Static -->
{% load static %}

<link rel="stylesheet" href="{% static 'css/stylesSuccess.css' %}">

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <h2>You have successfully subscribed!</h2>
            <p>
                Every month you'll get the newsletter.
            </p>
            <small id="redirect-box">
                This page will automatically redirect to the homepage in a moment.
            </small>
        </div>
    </div>
</div>

<script>
    setTimeout(myURL,10000)

    function myURL(){
        document.location.href = '/'
    }
</script>

{%endblock content%}
